/* Police Google Fonts */

@font-face {
  font-family: "font-1";
  src: url(./assets/polices/NotoSans-Regular.ttf);
}

@font-face {
  font-family: "font-2";
  src: url(./assets/polices/NotoSans-Bold.ttf);
}

/* Organisation Body */

body {
  font-family: "font-1";
  background: url(./assets/images/usine-pink_floyd.jpg) no-repeat fixed
    center/cover;
  margin: 0;
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

section {
  border: 2px solid whitesmoke;
  border-radius: 15px;
  margin: 15px;
}

/* Titres */

h1 {
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 2px;
  font-size: 7rem;
  color: rgb(211, 211, 211);
  text-shadow: 6px 0 0 black;
  font-family: "font-2";
}

h2 {
  color: rgb(211, 211, 211);
  font-size: 2rem;
  text-align: center;
  text-shadow: 3px 0 0 black;
}

/* Introduction  */

.introduction_text {
  color: whitesmoke;
  margin: 10px;
  padding: 15px;
  border-radius: 15px;
  box-shadow: 0 2px 12px 5px rgba(0, 0, 0, 0.5);
}

/* Partie membres */
.members_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 15px;
}

.picture_container {
  margin: 15px;
  width: 500px;
  height: 400px;
  overflow: hidden;
  position: relative;
}

.picture_container:hover {
  box-shadow: 0 0 15px 6px rgba(225, 159, 6, 0.7);
  border-radius: 15px;
}

.member_picture {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 15px;
}

.text_picture {
  bottom: 5%;
  left: 5%;
  position: absolute;
  font-size: 2rem;
  color: rgb(255, 243, 202);
  /* text-shadow: rgb(0, 0, 0) 3px 3px 3px; */
  text-shadow: 1px 1px 2px rgb(0, 0, 0);
  font-weight: bold;
}

/*animation */

.box {
    background-color: transparent;
    perspective: 1000px;
    overflow: hidden;
  }
  .box-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.5s;
    transform-style: preserve-3d;
  }
  .box:hover .box-inner {
    transform: rotateY(180deg);
  }
  .box-front,
  .box-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }
  
  .box-back {
    background-color: #8ebf42;
    color: #eeeeee;
    transform: rotateY(180deg);
  }


/* Partie formulaire */

.commentary-container {
  background: yellow;
  display: grid;
  grid-template-columns: 40% 60%;
  padding: 20px;
}

form {
  background: red;
  margin: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "input1 input2"
    "email email"
    "ta ta"
    "bt bt";
}

input,
textarea {
  margin: 5px;
  height: 80px;
  border: 1px solid black;
  padding: 10px;
  border-radius: 5px;
  font-size: 1.1rem;
}

#firstname {
  grid-area: input2;
}

#lastname {
  grid-area: input1;
}

#email {
  grid-area: email;
}

textarea {
  grid-area: ta;
  resize: none;
}

input[type="submit"] {
  color: whitesmoke;
  background: rgb(61, 2, 52);
  grid-area: bt;
  cursor: pointer;
  transition: 0.4s;
}

input[type="submit"]:hover {
  background: rgb(143, 4, 122);
  color: white;
}

.img-container {
  background: green;
  text-align: center;
}

.img-container img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 15px;
}

.footer {
  color: whitesmoke;
  background: rgb(61, 2, 52);
  text-align: center;
}

/* Responsive */

@media screen and (max-width: 1000px) {
  .commentary-container {
    display: block;
  }
}

@media screen and (max-width: 780px) {
  form {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
      "input1"
      "input2"
      "email"
      "ta"
      "bt";
  }
}
